In [16]:
#Creating database and connection
import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017")
mydb = myclient["Data_Tracker"]


mycol1 = mydb["Products"]

for x in mycol1.find():
    print(x)

{'_id': ObjectId('5e59231670d94436c8d2086a'), 'Type': 'Chips', 'Products': 'Doritos', 'Prices': '15', 'Quantity': '20'}
{'_id': ObjectId('5e59231670d94436c8d2086b'), 'Type': 'Chips', 'Products': 'Lays', 'Prices': '12', 'Quantity': '15'}
{'_id': ObjectId('5e59231670d94436c8d2086c'), 'Type': 'Chips', 'Products': 'NikNaks', 'Prices': '5', 'Quantity': '30'}
{'_id': ObjectId('5e59231670d94436c8d2086d'), 'Type': 'Chips', 'Products': 'Simba', 'Prices': '18', 'Quantity': '18'}
{'_id': ObjectId('5e59231670d94436c8d2086f'), 'Type': 'Cooldrink', 'Products': 'Fanta', 'Prices': '11', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d20870'), 'Type': 'Cooldrink', 'Products': 'Sprite', 'Prices': '14', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d20871'), 'Type': 'Cooldrink', 'Products': 'Jive', 'Prices': '10', 'Quantity': '20'}
{'_id': ObjectId('5e59231670d94436c8d20872'), 'Type': 'Cooldrink', 'Products': 'Score', 'Prices': '10', 'Quantity': '15'}
{'_id': ObjectId('5e59231670d94436c8d20874'), 'Type': 'Chocolate', 'Products': 'Ps', 'Prices': '8', 'Quantity': '20'}
{'_id': ObjectId('5e59231670d94436c8d20875'), 'Type': 'Chocolate', 'Products': 'KitKat', 'Prices': '10', 'Quantity': '15'}
{'_id': ObjectId('5e59231670d94436c8d20876'), 'Type': 'Chocolate', 'Products': 'Bar-one', 'Prices': '13', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d20877'), 'Type': 'Chocolate', 'Products': 'Tex', 'Prices': '7', 'Quantity': '25'}
{'_id': ObjectId('5e59231670d94436c8d20879'), 'Type': 'Pies', 'Products': 'Chicken', 'Prices': '15', 'Quantity': '13'}
{'_id': ObjectId('5e59231670d94436c8d2087a'), 'Type': 'Pies', 'Products': 'Burger', 'Prices': '20', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d2087b'), 'Type': 'Pies', 'Products': 'Steak', 'Prices': '18', 'Quantity': '20'}
{'_id': ObjectId('5e59231670d94436c8d2087c'), 'Type': 'Pies', 'Products': 'Pepper', 'Prices': '15', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d2087e'), 'Type': 'Fruit', 'Products': 'Guava', 'Prices': '10', 'Quantity': '20'}
{'_id': ObjectId('5e59231670d94436c8d2087f'), 'Type': 'Fruit', 'Products': 'Peach', 'Prices': '12', 'Quantity': '15'}
{'_id': ObjectId('5e59231670d94436c8d20880'), 'Type': 'Fruit', 'Products': 'Pear', 'Prices': '8', 'Quantity': '30'}
{'_id': ObjectId('5e59231670d94436c8d20881'), 'Type': 'Fruit', 'Products': 'Banana', 'Prices': '15', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d20883'), 'Type': 'Cupcakes', 'Products': 'Vanilla', 'Prices': '20', 'Quantity': '20'}
{'_id': ObjectId('5e59231670d94436c8d20884'), 'Type': 'Cupcakes', 'Products': 'Chocmint', 'Prices': '17', 'Quantity': '20'}
{'_id': ObjectId('5e59231670d94436c8d20885'), 'Type': 'Cupcakes', 'Products': 'Browny', 'Prices': '22', 'Quantity': '15'}
{'_id': ObjectId('5e59231670d94436c8d20886'), 'Type': 'Cupcakes', 'Products': 'Chocolate', 'Prices': '20', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d20888'), 'Type': 'Veggies', 'Products': 'Potatoes', 'Prices': '25', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d20889'), 'Type': 'Veggies', 'Products': 'Spinach', 'Prices': '15', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d2088a'), 'Type': 'Veggies', 'Products': 'Onion', 'Prices': '10', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d2088b'), 'Type': 'Veggies', 'Products': 'Butternut', 'Prices': '12', 'Quantity': '10'}

In [ ]:
#Top 3 Products
mycol = mydb["Top 3"]

mylist = [
  { "_id": 1, "Type": "Chips","Product":"Niknaks","Price":5,"Quantity":30},
  { "_id": 2, "Type": "Chocolate","Product":"Tex","Price":7,"Quantity":25},
  { "_id": 3, "Type": "Cooldrink","Product":"Jive","Price":10,"Quantity":20}]

x = mycol.insert_many(mylist)

In [3]:
#Inserting into Top 3 table
mylist = [
  { "_id": 4, "Type": "Pies","Product":"Steak","Price":18,"Quantity":20},  #adding the least 3 items on my list                 
  { "_id": 5, "Type": "Fruit","Product":"Pear","Price":8,"Quantity":30},
  { "_id": 6, "Type": "Cupcakes","Product":"Vanilla","Price":20,"Quantity":20}]

x = mycol.insert_many(mylist)

for x in mycol.find():
    print(x)

{'_id': 1, 'Type': 'Chips', 'Product': 'Niknaks', 'Price': 5, 'Quantity': 30}
{'_id': 2, 'Type': 'Chocolate', 'Product': 'Tex', 'Price': 7, 'Quantity': 25}
{'_id': 3, 'Type': 'Cooldrink', 'Product': 'Jive', 'Price': 10, 'Quantity': 20}
{'_id': 4, 'Type': 'Pies', 'Product': 'Steak', 'Price': 18, 'Quantity': 20}
{'_id': 5, 'Type': 'Fruit', 'Product': 'Pear', 'Price': 8, 'Quantity': 30}
{'_id': 6, 'Type': 'Cupcakes', 'Product': 'Vanilla', 'Price': 20, 'Quantity': 20}

In [13]:
#Sorting by products in descending order
mydoc = mycol1.find().sort("Products", -1)

for x in mydoc:
    print(x)

{'_id': ObjectId('5e59231670d94436c8d20883'), 'Type': 'Cupcakes', 'Products': 'Vanilla', 'Prices': '20', 'Quantity': '20'}
{'_id': ObjectId('5e59231670d94436c8d20877'), 'Type': 'Chocolate', 'Products': 'Tex', 'Prices': '7', 'Quantity': '25'}
{'_id': ObjectId('5e59231670d94436c8d2087b'), 'Type': 'Pies', 'Products': 'Steak', 'Prices': '18', 'Quantity': '20'}
{'_id': ObjectId('5e59231670d94436c8d20870'), 'Type': 'Cooldrink', 'Products': 'Sprite', 'Prices': '14', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d20889'), 'Type': 'Veggies', 'Products': 'Spinach', 'Prices': '15', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d2086d'), 'Type': 'Chips', 'Products': 'Simba', 'Prices': '18', 'Quantity': '18'}
{'_id': ObjectId('5e59231670d94436c8d20872'), 'Type': 'Cooldrink', 'Products': 'Score', 'Prices': '10', 'Quantity': '15'}
{'_id': ObjectId('5e59231670d94436c8d20874'), 'Type': 'Chocolate', 'Products': 'Ps', 'Prices': '8', 'Quantity': '20'}
{'_id': ObjectId('5e59231670d94436c8d20888'), 'Type': 'Veggies', 'Products': 'Potatoes', 'Prices': '25', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d2087c'), 'Type': 'Pies', 'Products': 'Pepper', 'Prices': '15', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d20880'), 'Type': 'Fruit', 'Products': 'Pear', 'Prices': '8', 'Quantity': '30'}
{'_id': ObjectId('5e59231670d94436c8d2087f'), 'Type': 'Fruit', 'Products': 'Peach', 'Prices': '12', 'Quantity': '15'}
{'_id': ObjectId('5e59231670d94436c8d2088a'), 'Type': 'Veggies', 'Products': 'Onion', 'Prices': '10', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d2086c'), 'Type': 'Chips', 'Products': 'NikNaks', 'Prices': '5', 'Quantity': '30'}
{'_id': ObjectId('5e59231670d94436c8d2086b'), 'Type': 'Chips', 'Products': 'Lays', 'Prices': '12', 'Quantity': '15'}
{'_id': ObjectId('5e59231670d94436c8d20875'), 'Type': 'Chocolate', 'Products': 'KitKat', 'Prices': '10', 'Quantity': '15'}
{'_id': ObjectId('5e59231670d94436c8d20871'), 'Type': 'Cooldrink', 'Products': 'Jive', 'Prices': '10', 'Quantity': '20'}
{'_id': ObjectId('5e59231670d94436c8d2087e'), 'Type': 'Fruit', 'Products': 'Guava', 'Prices': '10', 'Quantity': '20'}
{'_id': ObjectId('5e59231670d94436c8d2086f'), 'Type': 'Cooldrink', 'Products': 'Fanta', 'Prices': '11', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d2086a'), 'Type': 'Chips', 'Products': 'Doritos', 'Prices': '15', 'Quantity': '20'}
{'_id': ObjectId('5e59231670d94436c8d20886'), 'Type': 'Cupcakes', 'Products': 'Chocolate', 'Prices': '20', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d20884'), 'Type': 'Cupcakes', 'Products': 'Chocmint', 'Prices': '17', 'Quantity': '20'}
{'_id': ObjectId('5e59231670d94436c8d20879'), 'Type': 'Pies', 'Products': 'Chicken', 'Prices': '15', 'Quantity': '13'}
{'_id': ObjectId('5e59231670d94436c8d2088b'), 'Type': 'Veggies', 'Products': 'Butternut', 'Prices': '12', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d2087a'), 'Type': 'Pies', 'Products': 'Burger', 'Prices': '20', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d20885'), 'Type': 'Cupcakes', 'Products': 'Browny', 'Prices': '22', 'Quantity': '15'}
{'_id': ObjectId('5e59231670d94436c8d20876'), 'Type': 'Chocolate', 'Products': 'Bar-one', 'Prices': '13', 'Quantity': '10'}
{'_id': ObjectId('5e59231670d94436c8d20881'), 'Type': 'Fruit', 'Products': 'Banana', 'Prices': '15', 'Quantity': '10'}

In [5]:
#deleting pies
myquery = { "Type": "Pies" }

mycol.delete_one(myquery)

In [6]:
for x in mycol.find():
    print(x)

{'_id': 1, 'Type': 'Chips', 'Product': 'Niknaks', 'Price': 5, 'Quantity': 30}
{'_id': 2, 'Type': 'Chocolate', 'Product': 'Tex', 'Price': 7, 'Quantity': 25}
{'_id': 3, 'Type': 'Cooldrink', 'Product': 'Jive', 'Price': 10, 'Quantity': 20}
{'_id': 5, 'Type': 'Fruit', 'Product': 'Pear', 'Price': 8, 'Quantity': 30}
{'_id': 6, 'Type': 'Cupcakes', 'Product': 'Vanilla', 'Price': 20, 'Quantity': 20}

In [7]:
myquery = { "Type": "Cupcakes" }

mycol.delete_one(myquery)

In [8]:
for x in mycol.find():
    print(x)

{'_id': 1, 'Type': 'Chips', 'Product': 'Niknaks', 'Price': 5, 'Quantity': 30}
{'_id': 2, 'Type': 'Chocolate', 'Product': 'Tex', 'Price': 7, 'Quantity': 25}
{'_id': 3, 'Type': 'Cooldrink', 'Product': 'Jive', 'Price': 10, 'Quantity': 20}
{'_id': 5, 'Type': 'Fruit', 'Product': 'Pear', 'Price': 8, 'Quantity': 30}

In [9]:
myquery = { "Type": "Cooldrink" }
newvalues = { "$set": { "Price": 11 } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
    print(x)

{'_id': 1, 'Type': 'Chips', 'Product': 'Niknaks', 'Price': 5, 'Quantity': 30}
{'_id': 2, 'Type': 'Chocolate', 'Product': 'Tex', 'Price': 7, 'Quantity': 25}
{'_id': 3, 'Type': 'Cooldrink', 'Product': 'Jive', 'Price': 11, 'Quantity': 20}
{'_id': 5, 'Type': 'Fruit', 'Product': 'Pear', 'Price': 8, 'Quantity': 30}

In [23]:
print(mycol1.find_one(sort=[("Quantity", 1)])["Quantity"])

1

In [28]:
x= mycol1.find({"Quantity" : 1})
for x in mycol1.find({"Quantity" : 1}):
    print(x)
    least_5 = mydb["Least Products"]
    mymy = x

    x = least_5.insert_one(mymy)

{'_id': ObjectId('5e57761a5c1cdb3fd40709fa'), 'Type': 'Pies', 'Products': 'Chicken', 'Prices': '15', 'Quantity': 1}

In [29]:
myquery = { "Products": "Chicken" }

mycol1.delete_one(myquery)

In [30]:
print(mycol1.find_one(sort=[("Quantity", 1)])["Quantity"])

2

In [31]:
x= mycol1.find({"Quantity" : 2})
for x in mycol1.find({"Quantity" : 2}):
    print(x)
    least_5 = mydb["Least Products"]
    mymy = x

    x = least_5.insert_one(mymy)

{'_id': ObjectId('5e57761a5c1cdb3fd40709fb'), 'Type': '', 'Products': 'Burger', 'Prices': '20', 'Quantity': 2}

In [32]:
myquery = { "Products": "Burger" }

mycol1.delete_one(myquery)

In [33]:
print(mycol1.find_one(sort=[("Quantity", 1)])["Quantity"])

3

In [34]:
x= mycol1.find({"Quantity" : 3})
for x in mycol1.find({"Quantity" : 3}):
    print(x)
    least_5 = mydb["Least Products"]
    mymy = x

    x = least_5.insert_one(mymy)

{'_id': ObjectId('5e57761a5c1cdb3fd40709fc'), 'Type': '', 'Products': 'steak', 'Prices': '18', 'Quantity': 3}

In [36]:
myquery = { "Products": "steak" }

mycol1.delete_one(myquery)

In [37]:
print(mycol1.find_one(sort=[("Quantity", 1)])["Quantity"])

4

In [38]:
x= mycol1.find({"Quantity" : 4})
for x in mycol1.find({"Quantity" : 4}):
    print(x)
    least_5 = mydb["Least Products"]
    mymy = x

    x = least_5.insert_one(mymy)

{'_id': ObjectId('5e57761a5c1cdb3fd40709fd'), 'Type': '', 'Products': 'pepper', 'Prices': '15', 'Quantity': 4}

In [39]:
myquery = { "Products": "pepper" }

mycol1.delete_one(myquery)

In [40]:
print(mycol1.find_one(sort=[("Quantity", 1)])["Quantity"])

5

In [42]:
x= mycol1.find({"Quantity" : 5})
for x in mycol1.find({"Quantity" : 5}):
    print(x)
    least_5 = mydb["Least Products"]
    mymy = x

    x = least_5.insert_one(mymy)

{'_id': ObjectId('5e57761a5c1cdb3fd40709f7'), 'Type': '', 'Products': 'Bar-one', 'Prices': '13', 'Quantity': 5}

In [51]:
for x in least_5.find():
    print(x)

{'_id': ObjectId('5e57761a5c1cdb3fd40709fa'), 'Type': 'Pies', 'Products': 'Chicken', 'Prices': '15', 'Quantity': 1}
{'_id': ObjectId('5e57761a5c1cdb3fd40709fb'), 'Type': 'Pies', 'Products': 'Burger', 'Prices': '20', 'Quantity': 2}
{'_id': ObjectId('5e57761a5c1cdb3fd40709fc'), 'Type': 'Pies', 'Products': 'steak', 'Prices': '18', 'Quantity': 3}
{'_id': ObjectId('5e57761a5c1cdb3fd40709fd'), 'Type': 'Pies', 'Products': 'pepper', 'Prices': '15', 'Quantity': 4}
{'_id': ObjectId('5e57761a5c1cdb3fd40709f7'), 'Type': 'Chocolates', 'Products': 'Bar-one', 'Prices': '13', 'Quantity': 5}